@media (max-width: 880px) {
  body .main-box {
  width: 80%;
	height: 40%;
  }
  
}

@media (max-width: 660px) {
  body {
    font-size: 1em;
  }
  body .main-box {
    width: 80%;
    height: 55%;
    margin: 0px;
  }
  
}

@media (max-height: 568px) {
  body .main-box {
    height: 50%;
  }
}

body {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

p {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    display: inline;
}

.main-container {
  text-align: center;
}

#btn {
  left: 50%;
  bottom: 5%;
  margin-top: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  box-shadow: 3px 3px 0px black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
}

#btn:hover {
  background: black;
  border: 1px solid white;
  box-shadow: 3px 3px 0px white;
  color: white;
}

.main-box {
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 40%;
  padding: 10px;
  text-align: center;
  background: white;
  border: 2px solid black;
  box-shadow: 10px 10px 0px black;
  font-family: 'Bungee Hairline', cursive;
  margin-bottom: 10px;
}

.title h1 {
  margin-bottom: 5px;
}

.title h3 {
  margin-top: 5px;
}

.contact-info {
  position: absolute;
  bottom: 15px;
  width:100%;
}

.contact-info p {
  text-align: center;
  padding-right: 20px;
}

.contact-info a {
  text-decoration: none;
  color: #fb5d18;
}

.about-me a {
  text-decoration: none;
  color: Blue;
}

.about-me a:visited {
  text-decoration: none;
}

.about-me a:hover {
  text-decoration: none;
  background-color: Black;
  color: Snow;
}

.fa-diamond {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.fa-diamond:hover {
  -webkit-transform: rotate(360);
  transform: rotate(360deg);
}




@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#animate-area {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 400px;
  background-image: url(https://davidwalsh.name/demo/bg-clouds.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;